<ion-view view-title="Budget Overview">
  <ion-content >
    <miigo-status user="user"></miigo-status>
    <div >
        <div class="item item-divider">
          Presupuesto para {{topBudget.end}} día(s)
        </div>
      </div>

      <ion-item>
      	
        	<canvas heigth="60%" id="pie" class="chart chart-pie"
          		chart-data="data" chart-labels="labels" chart-colours="colours">
          </canvas> 
         
          <div class="item item-divider">Presupuesto: ${{topBudget.salary}}</div>

          <div class="item item-divider">Gastos a la fecha: ${{spent}}</div>
          <div class="item item-divider">Dinero sobrante : ${{mleft}} </div> 

      </ion-item >

      <ion-item>   

        <div> Educación : ${{progressE}} </div>

        <progress id="progressbar" class="educ" max={{topBudget.educ}} value="{{progressE}}"></progress>

        <div class="food"> Comida : ${{progressF}}</div>
        <progress class="food" max={{topBudget.food}} value="{{progressF}}" ></progress>

        <div class="transp"> Transporte : ${{progressT}} </div>
        <progress class="transp" max={{topBudget.transp}} value="{{progressT}}"></progress>

        <div class="utili"> Servicios : ${{progressU}} </div>
        <progress class="utili" max={{topBudget.util}} value="{{progressU}}"></progress>

        <div class="ente"> Entretenimiento : ${{progressEn}} </div>
        <progress class="ente" max={{topBudget.entrt}} value="{{progressEn}}"></progress>

        <div class="savi"> Ahorros : ${{progressS}}</div>
        <progress class="savi" max={{topBudget.savi}} value="{{progressS}}"></progress>

        <div class="rent"> Renta : ${{progressR}}</div>
        <progress class="rent" max={{topBudget.rent}} value="{{progressR}}"></progress>

        <div class="debt"> Deuda : ${{progressD}}</div>
        <progress class="debt" max={{topBudget.debt}} value="{{progressD}}"></progress>

    </ion-item >
  </ion-content>
</ion-view>
