<ion-view view-title="Puntos">
  <ion-content>
  <miigo-status user="user"></miigo-status>  
    <div class="card">
      <ion-item class="item-text-wrap text-center">
        <h1 class="balanced">{{user.points}} PUNTOS</h1>
      </ion-item>
    </div>
    <ion-list>
    <ion-item class="item-icon-left item-icon-right">
      <i class="icon ion-ios-telephone"></i>
        Redimir Minutos
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-left item-icon-right">
      <i class="icon ion-wifi"></i>
        Redimir Dato
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
