<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Ionic Framework</h2>
    <p>
     Dev resources, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    The repo for this project is hosted on <a href="https://github.com/Sirquini/MiigoApps" target="_blank">Github</a>.
    </p>
    <p>
      For help sending push notifications, we can use <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>.
    </p>
    <p>Docs for the Ionic Framework can be found in the <a href="http://ionicframework.com/docs/overview/" target="_blank">Ionic Documentation</a>.</p>
    <p>Icons from <a href="http://ionicons.com/" target="_blank"> ionicons</a>.</p>
  </ion-content>
</ion-view>
