<ion-view view-title="Bubbles Selection">

    <ion-header-bar class="bar-balanced">

        

    </ion-header-bar>
    <ion-content class="has-header">
    <miigo-status user="user"></miigo-status>
        <ion-item  type="item-text-wrap" >Seleccionar presupuesto</ion-item>
        <ion-item  type="item-text-wrap" ng-repeat="budget in budgets"  href="#/tab/bubbles/{{budget.id}}"> 
            <h4> <b>Identificador: {{budget.id}}  Duración: {{budget.end}} días</b> </h4>
        </ion-item>
        <ion-item href="#/tab/bubbles/new">
        <button  class="button button-full button-positive">Nuevo Presupuesto</button>
        </ion-item >
    </ion-content>
</ion-view>