<ion-view view-title="Miigo">
  <ion-content class="padding text-center">
    <h2>Hola</h2>
    <h1>{{user.f_name}} {{user.l_name}}</h1>
    <div class="progress-wrapper">
      <img src="img/miigo_logo.png" class="miigo-progress">
      <round-progress
                max="300"
                current="user.points"
                color="#8FBF22"
                bgcolor="#eaeaea"
                radius="100"
                stroke="10"
                semi="false"
                rounded="false"
                clockwise="true"
                responsive="false"
                duration="800"
                animation="easeInOutQuart">

                <round-progress
                    max="240"
                    current="user.minutes"
                    color="#00A8C7"
                    bgcolor="#eaeaea"
                    radius="100"
                    stroke="10"
                    semi="false"
                    rounded="false"
                    clockwise="true"
                    responsive="false"
                    duration="800"
                    animation="easeInOutQuart"
                    animation-delay="400"
                    offset="inherit">


                    <round-progress
                        max="500"
                        current="user.cuota"
                        color="#EA5723"
                        bgcolor="#eaeaea"
                        radius="100"
                        stroke="10"
                        semi="false"
                        rounded="false"
                        clockwise="true"
                        responsive="false"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="600"
                        offset="inherit"></round-progress>
                </round-progress>
            </round-progress>
    </div>
    <h3>Tu saldo actual es de <strong class="balanced">{{ user.balance | currency }}</strong></h3>
    <div class="row">
      <div class="col positive"><strong>{{ user.points }} Points</strong></div>
      <div class="col balanced"><strong>{{ user.minutes }} Minutes</strong></div>
      <div class="col citrus"><strong>{{ user.cuota }} MB</strong></div>
    </div>
  </ion-content>
</ion-view>
